<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

    <th:block th:fragment="hourOfCodeAddress">
        <td>123 Main st</td>
        <td><img th:src="@{/images/cham2.jpeg}"></td>

    </th:block>

    <th:block th:fragment="StrangeLoopAddress">
        <td>4890 Main st</td>
        <td><img th:src="@{/images/cham2.jpeg}"></td>

    </th:block>

    <th:block th:fragment="cesAddress">
        <td>Major Main st</td>
        <td><img th:src="@{/images/cham2.jpeg}"></td>

    </th:block>



</body>
</html>